@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  height: 100%;
  font: 100% Roboto; }

h1 {
  font-weight: 100;
  font-size: 2.3em; }

p {
  font-weight: 100;
  font-size: 1.1em; }

a {
  text-decoration: none; }
  a:active, a:hover, a:focus {
    color: inherit; }

ul {
  list-style: none; }

input {
  border: 0;
  padding: 11px 8px;
  font-size: 16px;
  font-weight: 100; }
  input:focus, input:hover, input:active {
    outline: 0; }

button {
  border: 0;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer; }
  button:focus, button:hover, button:active {
    outline: 0; }
  button.dark {
    background-color: #d75656;
    color: #fff; }
  button.light {
    background-color: #fff;
    color: #f65e5e; }
  button.gray {
    background-color: #6b6b6b;
    color: #fff; }
  button.submit {
    background-color: #f65e5e;
    color: #fff; }

#navbar {
  background-color: #282828;
  height: 80px;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 999;
  position: relative; }
  #navbar .logo {
    padding-left: 1%; }

.title {
  color: #f65e5e;
  font-weight: 100;
  padding-bottom: 10px; }

#navbar {
  justify-content: space-between; }
  #navbar .logo-icon {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1em;
    cursor: pointer;
    background-color: #f65e5e; }
    #navbar .logo-icon i {
      color: #fff; }
  #navbar ul.tabs {
    display: flex;
    width: 24%;
    align-items: center; }
    #navbar ul.tabs li {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      flex: 1;
      overflow: hidden;
      cursor: pointer; }
      #navbar ul.tabs li a {
        color: inherit;
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column; }
        #navbar ul.tabs li a i {
          color: #fff;
          font-size: 1.5em; }
      #navbar ul.tabs li.active {
        background-color: #f3f3f3; }
        #navbar ul.tabs li.active i {
          color: #333; }
      #navbar ul.tabs li img {
        border: 0; }

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: red; }
  .wrapper #sidebar {
    width: 20%;
    background-color: #282828; }
    .wrapper #sidebar ul {
      display: flex;
      width: 100%;
      flex-direction: column;
      margin-top: 2em; }
      .wrapper #sidebar ul li {
        padding: 10px;
        line-height: 2em; }
        .wrapper #sidebar ul li:not(:last-child) {
          border-bottom: 1px solid #424242; }
        .wrapper #sidebar ul li a {
          color: #fff;
          font-size: 14px;
          font-weight: 100; }
  .wrapper .content {
    width: 80%;
    background-color: #f3f3f3;
    padding: 20px; }
    .wrapper .content h2 {
      font-size: 2em; }
    .wrapper .content .form-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #fff; }
    .wrapper .content form {
      display: flex;
      flex-direction: column;
      width: 600px;
      margin: 2em auto; }
      .wrapper .content form input:not(:last-child) {
        margin-bottom: 1.5em; }

/*# sourceMappingURL=dashboard.css.map */
