@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  height: 100%;
  font: 100% Roboto; }

h1 {
  font-weight: 100;
  font-size: 2.3em; }

p {
  font-weight: 100;
  font-size: 1.1em; }

input {
  border: 0;
  padding: 11px 8px;
  font-size: 16px;
  font-weight: 100; }
  input:focus, input:hover, input:active {
    outline: 0; }

button {
  border: 0;
  width: 100%;
  padding: 15px 2px;
  font-size: 16px;
  cursor: pointer; }
  button:focus, button:hover, button:active {
    outline: 0; }
  button.dark {
    background-color: #d75656;
    color: #fff; }
  button.light {
    background-color: #fff;
    color: #f65e5e; }

#navbar {
  background-color: #282828;
  height: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  z-index: 999;
  position: relative; }
  #navbar .logo {
    padding-left: 1%; }

.slide {
  background-color: #f65e5e;
  position: absolute;
  width: 100%;
  height: 50%;
  top: -10%;
  z-index: 1;
  transform: skewY(-10deg);
  animation: slide 0.8s linear 1; }

@keyframes slide {
  0% {
    top: -100%; }
  100% {
    top: -10%; } }

.banner {
  position: relative;
  background: url("../img/banner.jpg") no-repeat;
  background-size: cover;
  background-position: 0 -30%;
  width: 100%;
  height: 100%;
  z-index: -1; }

.login-form {
  position: absolute;
  top: 15%;
  z-index: 2;
  display: -ms-flexbox;
  display: flex;
  left: 2%;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 2.8em; }
  .login-form h1, .login-form p {
    color: #fff; }
  .login-form form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 75%; }
    .login-form form input:not(:last-child) {
      margin-bottom: 6px; }
    .login-form form .buttons {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      jusitify-content: space-between; }
      .login-form form .buttons button, .login-form form .buttons a {
        -ms-flex: 1;
        flex: 1; }

/*# sourceMappingURL=style.css.map */
