@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

$light: 100;
$bold : 400;

body,html{
	height:100%;
	font:100% Roboto;
}


h1{
	font-weight:$light;
	font-size:2.3em;
}

p{
	font-weight:$light;
	font-size:1.1em;
}

a{
	text-decoration:none;
	&:active,&:hover,&:focus{
		color:inherit
	}
}

ul 
{
	list-style:none;
}

input {
	border:0;
	padding:11px 8px;
	font-size:16px;
	font-weight:$light;
	&:focus,&:hover,&:active
	{
		outline:0
	}
}

button{
	border:0;
	width:100%;
	padding:10px 20px;
	font-size:16px;
	cursor:pointer;
	&:focus,&:hover,&:active
	{
		outline:0;
	}
	&.dark
	{
		background-color:$btn-color;
		color:#fff;
	}

	&.light 
	{
		background-color:#fff;
		color:$base-color;
	}
	&.gray
	{
		background-color:#6b6b6b;
		color:#fff;
	}
	&.submit
	{
		background-color:$base-color;
		color:#fff;
	}
}

#navbar
{
	background-color:$secondary-color;
	height:80px;
	display:flex;
	align-items:center;
	width:100%;
	z-index:999;
	.logo{
		padding-left:1%;
	}
	position:relative;
}

.title 
{
	color:$base-color;
	font-weight:100;
	padding-bottom:10px;
}