.slide 
{
	background-color:$base-color;
	position:absolute;
	width:100%;
	height:50%;
	top:-10%;
	z-index:1;
	transform:skewY(-10deg);
	animation : slide 0.8s linear 1;
}

@keyframes slide 
{
	0%{
		top:-100%;
	}
	100% {
		top:-10%;
	}
}

.banner 
{
	position:relative;
	background:url('../img/banner.jpg') no-repeat;
	background-size:cover;
	background-position:0 -30%;
	width:100%;
	height:100%;
	z-index:-1;
}

.login-form
{
	position:absolute;
	top:15%;
	z-index:2;
	display:flex;
	left:2%;
	flex-direction:column;
	line-height:2.8em;

	h1,p {
		color:#fff;
	}

	form {
		display:flex;
		flex-direction:column;
		width:75%;

		input {
			
			&:not(:last-child) {
				margin-bottom:6px;
			}
		}

		.buttons{
			display:flex;
			align-items:center;
			jusitify-content:space-between;

			button,a{
				flex:1;
			}
		}
	}

}