@import 'colors';
@import 'base';

#navbar
{
	justify-content:space-between;

	.logo-icon{
		height:100%;
		display:flex;
		align-items:center;
		padding:1em;
		cursor:pointer;
		background-color:$base-color;
		i{
			color:#fff;
		}
	}

	ul.tabs 
	{
		display:flex;
		width:24%;
		align-items:center;

		li{
			display:flex;
			align-items:center;
			height:100%;
			width:100%;
			flex:1;
			overflow:hidden;
			cursor:pointer;

			a {
				color:inherit;
				display:flex;
				align-items:center;
				width:100%;
				flex-direction:column;

				i {
					color:#fff;
					font-size:1.5em;
				}
			}

			&.active
			{
				background-color:$gray-color;

				i {
					color:#333;
				}
			}

			img 
			{
				border:0;
			}
			&:not(:last-child){
				//margin-right:0.1em;
			} 
		}
	}
}

.wrapper 
{
	display:flex;
	height:100%;
	width:100%;
	background-color:red;

	#sidebar{
		width:20%;
		background-color:$secondary-color;

		ul{
			display:flex;
			width:100%;
			flex-direction:column;
			margin-top:2em;
			li 
			{
				padding:10px;
				line-height:2em;
				&:not(:last-child){
					border-bottom:1px solid lighten($secondary-color,10%);
				}

				a {
					color:#fff;
					font-size:14px;
					font-weight:$light;
				}
			}
		}
	} 

	.content 
	{
		width:80%;
		background-color:$gray-color;
		padding:20px;

		h2 {
			font-size:2em;
		}

		.form-title
		{
			display:flex;
			align-items:center;
			justify-content:space-between;
			border-bottom:1px solid #fff;
		}

		form {
			display:flex;
			flex-direction:column;
			width:600px;
			margin:2em auto;
			input 
			{
				&:not(:last-child){
					margin-bottom:1.5em
				}
			}
		}
	}
}